* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: black;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    margin-left: 5px;
    border: 1px solid transparent;
}

.logo {
    height: 40px;
    width: 80%; 
    object-fit: cover;
}

.location-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 50px;
    border: 1px solid transparent;
}

.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
}

.icon {
    height: 20px;
    width: 20px;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-span {
    font-size: 12px;
    color: #cccccc;
}

.second-span {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.search-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 50%;
}

.categories-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    /* transition: background-color 0.2s ease; */
}

.categories-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100%;
    width: 100%;
    border: none;
    background: #f3f3f3;
    color: #555;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.down-arrow {
    height: 10px;
    width: 10px;
    object-fit: contain;
}

.input {
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    padding-left: 10px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    background-color: rgb(255, 229, 189);
    /* transition: background-color 0.2s ease; */


}

.search {
    height: 100%;
    width: 34px;
    object-fit: cover;
}

.lang-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 70px;
    gap: 2px;
    position: relative;
    border: 1px solid transparent;
}

.language-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    background: white;
    color: black;
    display: none;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
    z-index: 100;
}

.language-item {
    padding: 10px;
    cursor: pointer;
}


.language-item:hover {
    background: #f2f2f2;;
}.lang-div:hover .language-list {
    display: flex;
}

.flag {
    height: 30px;
    object-fit: cover;
    /* width: 100%; */
}

.lang {
    font-size: 15px;
    font-family: arial;
    color: #f3f3f3;
}

.lang-arrow {
    width: 8px;
    height: 8px;
    margin-top: 5px;
    object-fit: contain;
}

.detail-div {
    display: flex;
    flex-direction: column;
    line-height: 16px;
    color: #f3f3f3;
    height: 50px;
    font-family: arial;
    justify-content: center;
    border: 1px solid transparent;
    position: relative;
}

.account-list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 500px;
    height: 500px;
    background: white;
    color: black;
    display: none;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0,0,0,.2);
    z-index: 100;
}

.detail-div:hover .account-list {
    display: flex;
}

.profile-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px 0 0 10px;
    height: 20px;
    background-color: #cad8c8;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
}

.profile-span {
    font-size: 13px;
    color: #5e5a5a;
}

.manage-profile {
    color: #007185;
    text-decoration: none;
    font-size: 13px;
    margin-left: 90px;
}
.manage-profile:hover {
    color: #c7511f;
    text-decoration: underline;
}

.list-div {
    display: flex;
    /* background-color: #555; */
    flex-direction: column;
    height: 100%;
    width: 50%;
    gap: 5px;
    padding: 20px;
    border-right: 1px solid rgba(192, 192, 192, 0.795);
}

.head {
    font-size: 17px;
    line-height: 25px;

}

.shopping-list {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.795);
}

.text {
    font-size: 14px;
    line-height: 20px;
}

.shopping-list:hover,
.text:hover {
    color: #c7511f;
    text-decoration: underline;
    cursor: pointer;
    
}

.profile-arrow {
    font-size: 16px;
    color: #555;
    margin-right: 20px;

}

.hello-text {
    font-size: 12px;
}

.account-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    /* background-color: aqua; */
}

.account {
    font-size: 15px;
    font-weight: 700;
}

.account-arrow {
    width: 8px;
    height: 8px;
    /* margin-top: 3px; */
    object-fit: contain;
    align-self: flex-end;
    margin-bottom: 1px;
}
.cart-div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d5d9d9;
    font-family: arial, sans-serif;
    width: 95px;
    margin-right: 20px;
    border: 1px solid transparent;
}

.cart-icon-div {
    display: flex;
}

.cart-icon {
    object-fit: cover;
}

/* hover */
.logo-div:hover {
    border-color: white;
    cursor: pointer;
}

.location-div:hover {
    border-color: white;
    cursor: pointer;
}

.categories-btn:hover {
    background-color: #d5d9d9;
    color: black;
    cursor: pointer;
}

.search-icon:hover {
    background-color: rgb(230, 198, 139);
    cursor: pointer;
}

.lang-div:hover {
    border-color:  white;
    cursor: pointer;
}

.detail-div:hover {
    border-color: white;
    cursor: pointer;
}

.cart-div:hover {
    border-color: white;
    cursor: pointer;
}