* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
}

.nav-div {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: black;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 100%;
    margin-left: 5px;
}

.logo {
    height: 60px;
    width: 80%; 
    object-fit: cover;
}

.location-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100%;
}

.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
}

.icon {
    height: 20px;
    width: 20px;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-span {
    font-size: 12px;
    color: #cccccc;
}

.second-span {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.search-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55%;
    width: 350px;
}

.categories-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    border-right: 1px solid #d5d9d9;
}

.categories-btn {
    height: 100%;
    width: 100%;
    border: none;
    background: #f3f3f3;
}

.input {
    height: 100%;
    width: 240px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    background-color: rgb(255, 229, 189);


}

.search {
    height: 100%;
    object-fit: cover;
}